<component name="libraryTable">
  <library name="mybatis-3.4.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/mybatis-3.4.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/mysql-connector-java-8.0.12.jar!/" />
      <root url="file://$PROJECT_DIR$/src" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/src/main/java" />
      <root url="file://$PROJECT_DIR$/src/test/java" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/src" recursive="false" />
  </library>
</component>